@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

body {
  margin: 0;
  overflow-x: hidden;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

#hero-name {
  font-family: "Syne", sans-serif;
  font-weight: 800;
  white-space: nowrap;
  line-height: 1;
  letter-spacing: -0.04em;
  margin: 0;
}
